/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	margin:0;
	padding:0;
	height:100%;
}

.full-background {
	background:url("rock-n-roll1920x1080.jpg") top no-repeat; background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	width: 1050px;
	background-color: #FFFFFF;
	margin-top: 70px;
	border-radius: 8px;
	opacity:0.8;
}

.first-row, .second-row{
	padding-left: 10px;
}

.concert-poster {
	width: 200px;
	height: 150px;
}

.concert-display {
	padding: 10px;
	padding-top: 100px;
	margin: 10px;
	border-radius: 5px;
	height: 300px;
}

.single-concert {
	font-family: Verdana, Arial, sans-serif;
    font-color: #333;
}
.frame {
	margin: 20px;
}

.footer-nav {
	margin-top: 50px;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	
}

#content {
	padding-bottom:0; /* Height of the footer element */
}

#footer {
	background-color:#FFFFFF;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

.main-content-wrapper {
	padding-bottom: 80px;
}

.footer-container {
	height:50px;
}

.new_concert {
	padding: 30px;
}